.column {
    background-color: #1a1818;
    border-radius: 8px;
    padding: 16px;
    margin: 0 8px;
    flex: 1;
    width: 200px;
    display: flex;
    flex-direction: column;
    transition: background-color 0.2s ease;
  }
  
  .column.isOver {
    background-color: #e0e0e0; 
  }
  
  .jobsList {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  